@page "/people/edit/{PersonId:int}"
<h3>PersonEdit</h3>
@if (person != null)
{
<PersonForm Person="person" OnValidSubmit="Save"></PersonForm>
}

@code {
    [Parameter] public int PersonId { get; set; }

    Person person;
    protected override void OnInitialized()
    {
        person = new Person { FirstName = "Al", LastName = "Bundy", BirthDate = DateTime.Parse("August 12 1964") };
        base.OnInitialized();
    }

    protected void Save()
    {
        Console.WriteLine("Save method");
    }
}
