@page "/movies/create"
@inject NavigationManager navigationManager
@inject IMovieRepository movieRepository
@inject IGenreRepository genreRepo
@using Newtonsoft.Json

<h3>CreateMovie</h3>
@if (Genres == null)
{
    <text>Loading...</text>
}
else
{
   <MovieForm movie="movie" Unselected="Genres" Selected="new List<Genre>()" OnValidSubmit="SaveMovie"></MovieForm>
}

@code {
    private int count = 0;
    private Movie movie = new Movie();

    private List<Genre> Genres;

    protected override async Task OnInitializedAsync()
    {
        Genres = await genreRepo.GetGenres();
    }

    private async void SaveMovie()
    {
        //Console.Write(JsonConvert.SerializeObject(movie));
        Console.Write($"called save {++count} times");
        await movieRepository.CreateMovie(movie);
        Console.WriteLine("Saved movie!");
    }

}
